language: java

jdk: oraclejdk7

node_js: "0.12"

before_install: npm install -g bower grunt-cli

notifications:
  irc: "chat.freenode.net#seedstack-dev"

after_success:
  - echo "<settings><servers><server><id>sonatype-nexus-snapshots</id><username>\${env.SONATYPE_USER}</username><password>\${env.SONATYPE_PASS}</password></server></servers></settings>" > ~/settings.xml
  - "[[ $TRAVIS_BRANCH == \"master\" ]] && mvn deploy --settings ~/settings.xml"
